


/* Hover effect for the button */
.st-key-pulse button:hover {
    background-color: #45a049;
    /* Darker green */
    border: none;
}

.st-key-pulse button:hover p {
    color: #FFD700;
    /* Gold color */
    border: none;
}

/* Override the focus states to prevent default red border */
.st-key-pulse button:focus {
    background-color: #45a049;
    /* Keep the same as hover */
    border: none;
}

/* Apply the same text color during focus states */
.st-key-pulse button:focus p {
    color: #FFD700;
    border: none;
}


@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(76, 175, 80, 0.7);
    }

    70% {
        box-shadow: 0 0 0 20px rgba(76, 175, 80, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(76, 175, 80, 0);
    }
}

/* Text input with custom font and color */
.st-key-styledinput input {
    border: 5px solid #3cff1e;
    border-radius: 8px;
}

.st-key-styledinput input:focus {
    border: none;
}

.block-container {
    padding-top: 2rem;
    padding-bottom: 0rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

/* Text area with custom font */
.st-key-styledtextarea textarea {
    background-color: #e6e6fa;
    border: 4px solid #9370DB;
    border-radius: 8px;
    font-family: 'Comic Sans MS', cursive;
    color: #4B0082;
}


/* Radio buttons with custom styles */
.st-key-styledradio .stRadio p {
    color: #8b2e86;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 24px;
}

.stTabs [data-baseweb='tab-list'] button [data-testid="stMarkdownContainer"] p {
   font-size: 24px;
}

/* styled scollable textbox */
.scrollable-div {
    height: 100px;
    overflow-y: scroll;
    border: 1px solid #be0e0e;
    padding: 20px;
}

/* Styled markdown */
.custom-markdown {
    /* font-family: 'Comic Sans MS', cursive, sans-serif;*/
    color: rgb(107, 3, 90);
    font-size: 10rw;
}
 
.stPageLink {
    font-size: 1.5rem;
    color:rgb(107, 3, 90);
}

[data-testid="stSidebarNav"]::before {
    content: "z - m e d i a";
    /* font-family: 'Comic Sans MS', cursive; */
    margin-left: 1.8rem;
    margin-bottom: .2rem;
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    color: rgb(107, 3, 90);
} 

[data-testid="stSidebarNav"] {
    /* background-color: #f0f2f6; */
    padding: .5rem;
    font-size: 3rem;
    font-weight: bold;
    border-radius: .5rem;
}

[data-testid="stSidebarNav"] a {
    color: rgb(107, 3, 90);
    text-decoration:  none;
    font-size: 1.3rem;
    font-weight: bold;
    padding: .1rem .2rem;
    /* display: block; */
    border-radius: .5rem;
}
[data-testid="stSidebarNav"] ul li a {
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(107, 3, 90);
}

div[data-testid="stSidebarNav"] ul li{
    font-size: 1.2rem;
    color: rgb(107, 3, 90);
}
/*
[data-testid="stSidebarNav"] a:hover {
    background-color: #dadde6f1;
}

[data-testid="stSidebarNav"] a.active {
    background-color: #007bff;
    color: grey;
} */


 /* [data-testid="stSidebarNav"]{
    background-image: url(./assets/zesha_sample_logo512.png);
    background-repeat: no-repeat;
    padding-top: 20px;
    font-size: 40px;
    background-position: 20px 20px;
    size:10em;
} */

/* Target the logo in the header and collapsed control */
    div[data-testid="stSidebarHeader"] > img, 
    div[data-testid="collapsedControl"] > img {
        height: 10rem; /* Adjust this value for desired height */
        width: auto; /* Maintain aspect ratio */
    }
    /* Ensure proper alignment if needed */
    div[data-testid="stSidebarHeader"], 
    div[data-testid="stSidebarHeader"] > *, 
    div[data-testid="collapsedControl"], 
    div[data-testid="collapsedControl"] > * {
        display: flex;
        align-items: center;
    }