
/* gray button */
.st-key-g0 button { background-color: #efefef; border-radius: 0px; padding: 20px 20px; animation: pulse 3s;height: 5%;}
.st-key-g0 button p {font-size: 24px; font-family: 'Comic Sans MS', sans-serif;}
/* Hover effect for the button */
.st-key-g0 button:hover { background-color: #E8E8E8;/* Darker gray */border: none;}
.st-key-g0 button:hover p {color: #FFD700;/* Gold color */}
/* Override the focus states to prevent default red border */
.st-key-g0 button:focus {background-color: #E8E8E8;/* Keep the same as hover */border: none;}
/* Apply the same text color during focus states */
.st-key-g0 button:focus p {color: black;}
/* end of gray button */

/* gray button */
.st-key-g1 button { background-color: #efefef; border-radius: 0px; padding: 20px 20px; animation: pulse 3s;height: 5%;}
.st-key-g1 button p {font-size: 24px; font-family: 'Comic Sans MS', sans-serif;}
/* Hover effect for the button */
.st-key-g1 button:hover { background-color: #E8E8E8;/* Darker gray */border: none;}
.st-key-g1 button:hover p {color: #FFD700;/* Gold color */}
/* Override the focus states to prevent default red border */
.st-key-g1 button:focus {background-color: #E8E8E8;/* Keep the same as hover */border: none;}
/* Apply the same text color during focus states */
.st-key-g1 button:focus p {color: black;}
/* end of gray button */

/* gray button */
.st-key-g2 button { background-color: #efefef; border-radius: 0px; padding: 20px 20px; animation: pulse 3s;height: 5%;}
.st-key-g2 button p {font-size: 24px; font-family: 'Comic Sans MS', sans-serif;}
/* Hover effect for the button */
.st-key-g2 button:hover { background-color: #E8E8E8;/* Darker gray */border: none;}
.st-key-g2 button:hover p {color: #FFD700;/* Gold color */}
/* Override the focus states to prevent default red border */
.st-key-g2 button:focus {background-color: #E8E8E8;/* Keep the same as hover */border: none;}
/* Apply the same text color during focus states */
.st-key-g2 button:focus p {color: black;}
/* end of gray button */

/* gray button */
.st-key-g3 button { background-color: #efefef; border-radius: 0px; padding: 20px 20px; animation: pulse 3s;height: 5%;}
.st-key-g3 button p {font-size: 24px; font-family: 'Comic Sans MS', sans-serif;}
/* Hover effect for the button */
.st-key-g3 button:hover { background-color: #E8E8E8;/* Darker gray */border: none;}
.st-key-g3 button:hover p {color: #FFD700;/* Gold color */}
/* Override the focus states to prevent default red border */
.st-key-g3 button:focus {background-color: #E8E8E8;/* Keep the same as hover */border: none;}
/* Apply the same text color during focus states */
.st-key-g3 button:focus p {color: black;}
/* end of gray button */

/* gray button */
.st-key-g4 button { background-color: #efefef; border-radius: 0px; padding: 20px 20px; animation: pulse 3s;height: 5%;}
.st-key-g4 button p {font-size: 24px; font-family: 'Comic Sans MS', sans-serif;}
/* Hover effect for the button */
.st-key-g4 button:hover { background-color: #E8E8E8;/* Darker gray */border: none;}
.st-key-g4 button:hover p {color: #FFD700;/* Gold color */}
/* Override the focus states to prevent default red border */
.st-key-g4 button:focus {background-color: #E8E8E8;/* Keep the same as hover */border: none;}
/* Apply the same text color during focus states */
.st-key-g4 button:focus p {color: black;}
/* end of gray button */

/* gray button */
.st-key-g5 button { background-color: #efefef; border-radius: 0px; padding: 20px 20px; animation: pulse 3s;height: 5%;}
.st-key-g5 button p {font-size: 24px; font-family: 'Comic Sans MS', sans-serif;}
/* Hover effect for the button */
.st-key-g5 button:hover { background-color: #E8E8E8;/* Darker gray */border: none;}
.st-key-g5 button:hover p {color: #FFD700;/* Gold color */}
/* Override the focus states to prevent default red border */
.st-key-g5 button:focus {background-color: #E8E8E8;/* Keep the same as hover */border: none;}
/* Apply the same text color during focus states */
.st-key-g5 button:focus p {color: black;}
/* end of gray button */



/* green button */
.st-key-green button { background-color: #4CAF50; border-radius: 0px; padding: 20px 20px; animation: pulse 3s;height: 5%;}
.st-key-green button p {font-size: 24px; font-family: 'Comic Sans MS', sans-serif;}
/* Hover effect for the button */
.st-key-green button:hover { background-color: #45a049;/* Darker green */border: none;}
.st-key-green button:hover p {color: black/* Gold color */}
/* Override the focus states to prevent default red border */
.st-key-green button:focus {background-color: #45a049;/* Keep the same as hover */border: none;}
/* Apply the same text color during focus states */
.st-key-green button:focus p {color: black}
/* end of green button */


/* orange button */
.st-key-orange button { background-color: #FAD5A5; border-radius: 0px; padding: 20px 20px; animation: pulse 3s;height: 5%;}
.st-key-orange button p {font-size: 24px; font-family: 'Comic Sans MS', sans-serif;}
/* Hover effect for the button */
.st-key-orange button:hover { background-color: #FF7F50;/* Darker orange */border: none;}
.st-key-orange button:hover p {color: black/* Gold color */}
/* Override the focus states to prevent default red border */
.st-key-orange button:focus {background-color: #FF7F50;/* Keep the same as hover */border: none;}
/* Apply the same text color during focus states */
.st-key-orange button:focus p {color: black}
/* end of orange button */


.st-key-red button { background-color: red; color: black; font-size: 24px; border-radius: 0px; padding: 50px 50px;height: 5%; font-family: 'Comic Sans MS', sans-serif;}
.st-key-orange button { background-color: orange; color: black; font: 'Comic Sans MS', sans-serif; border-radius: 0px; padding: 50px 50px; }
/* Animated button with pulse effect */
.st-key-pulse button { background-color: #4CAF50; border-radius: 0px; padding: 50px 50px;animation: pulse 2s infinite;}
.st-key-pulse button p { font-size: 24px; font-family: 'Comic Sans MS', sans-serif;}

/* Hover effect for the button */
.st-key-pulse button:hover {
    background-color: #45a049;
    /* Darker green */
    border: none;
}

.st-key-pulse button:hover p {
    color: #FFD700;
    /* Gold color */
    border: none;
}

/* Override the focus states to prevent default red border */
.st-key-pulse button:focus {
    background-color: #45a049;
    /* Keep the same as hover */
    border: none;
}

/* Apply the same text color during focus states */
.st-key-pulse button:focus p {
    color: #FFD700;
    border: none;
}


@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(76, 175, 80, 0.7);
    }

    70% {
        box-shadow: 0 0 0 20px rgba(76, 175, 80, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(76, 175, 80, 0);
    }
}

/* Text input with custom font and color */
.st-key-styledinput input {
    border: 5px solid #3cff1e;
    border-radius: 8px;
}

.st-key-styledinput input:focus {
    border: none;
}

.block-container {
    padding-top: 2rem;
    padding-bottom: 0rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

/* Text area with custom font */
.st-key-styledtextarea textarea {
    background-color: #e6e6fa;
    border: 4px solid #9370DB;
    border-radius: 8px;
    font-family: 'Comic Sans MS', cursive;
    color: #4B0082;
}


/* Radio buttons with custom styles */
.st-key-styledradio .stRadio p {
    color: #8b2e86;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 24px;
}

.stTabs [data-baseweb='tab-list'] button [data-testid="stMarkdownContainer"] p {
   font-size: 24px;
}

/* styled scollable textbox */
.scrollable-div {
    height: 100px;
    overflow-y: scroll;
    border: 1px solid #be0e0e;
    padding: 20px;
}

/* Styled markdown */
.custom-markdown {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #DA70D6;
    font-size: 10rw;
}
 
div[data-testid="stSidebarNav"] ul {
    font-size: 1.2rem;
}

[data-testid="stSidebarNav"]::before {
content: "z-media";
margin-left: 1rem;
margin-bottom: .2rem;
font-size: 3rem;
font-weight: bold;
position: relative;
color: rgb(107, 3, 90);
} 

[data-testid="stSidebarNav"] {
    /* background-color: #f0f2f6; */
    padding: .5rem;
    font-size: 3rem;
    font-weight: bold;
    border-radius: .5rem;
}

[data-testid="stSidebarNav"] a {
    color: #b60c0c;
    text-decoration:  none;
    font-size: 1.3rem;
    font-weight: bold;
    padding: .1rem .2rem;
    /* display: block; */
    border-radius: .5rem;
}
[data-testid="stSidebarNav"] ul li a {
    font-size: 1.3rem;
    font-weight: bold;
    color: #b60c0c;
}

/*
[data-testid="stSidebarNav"] a:hover {
    background-color: #dadde6f1;
}

[data-testid="stSidebarNav"] a.active {
    background-color: #007bff;
    color: grey;
} */


 /* [data-testid="stSidebarNav"]{
    background-image: url(./assets/zesha_sample_logo512.png);
    background-repeat: no-repeat;
    padding-top: 20px;
    font-size: 40px;
    background-position: 20px 20px;
    size:10em;
} */

/* Target the logo in the header and collapsed control */
    div[data-testid="stSidebarHeader"] > img, 
    div[data-testid="collapsedControl"] > img {
        height: 10rem; /* Adjust this value for desired height */
        width: auto; /* Maintain aspect ratio */
    }
    /* Ensure proper alignment if needed */
    div[data-testid="stSidebarHeader"], 
    div[data-testid="stSidebarHeader"] > *, 
    div[data-testid="collapsedControl"], 
    div[data-testid="collapsedControl"] > * {
        display: flex;
        align-items: center;
    }